# Spark

### Spark Motivation and Concepts

Spark offers you:
- <b>Lazy Computations</b>
    - Optimize the job before executing
- <b>In-memory data caching</b>
    - Scan HDD only once, then scan your RAM
- <b>Efficient pipelining</b>
    - Avoids the data hitting the HDD by all means

Two main abstractions of Spark:
- <b>RDD (Resilient Distributed Dataset)</b>:
    - Collection of data items split into partitions and stored in memory on worker nodes of the cluster
    - Is an interface for data transformation
    - Refers to the data stored either in persisted store (HDFS, Cassandra, HBase, etc.) or in cache (memory, memory+disks, disk only, etc.) or in another RDD
    - Partitions are recomputed on failure or cache eviction
    - Metadata stored for interface:
        - *Partitions* - set of data splits associated with this RDD
        - *Dependencies* - list of parent RDDs involved in computation 
        - *Compute* - function to compute partition of the RDD given the
parent partitions from the Dependencies
        - *Prefered locations* - where is the best place to put
computations on this partition (data locality)
        - *Partitioner* - how the data is split into partitions
    - Two classes of interfaces:
        - Transformations
        - Actions
- <b>DAG (Direct Acyclic Graph)</b>: sequence of computations performed on data
    - Node: RDD partition
    - Edge: transformation on top of data
    - Acyclic: graph cannot return to the older partition
    - Direct: transformation is an action that transitions
data partition state (from A to B)

In [11]:
from typing import Tuple
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import (
    collect_set,
    col,
    avg,
    count,
    split,
    explode,
    udf,
    min,
    first,
)
from pyspark.sql.types import IntegerType, ArrayType, StringType
from conf import catalog, paths, globals
import os
import time

In [2]:
spark = (
    SparkSession.builder.appName("Next Watch EDA")
    .master("local[3]")
    .config("spark.executor.memory", "3g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/22 10:49:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
acc = spark.sparkContext.accumulator(1)
rdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5])
rdd.foreach(lambda x: acc.add(x))
print(acc.value)

16

### 1. Load datasets

In [37]:
movies_path = paths.get_path(paths.DATA_01EXTERNAL, catalog.Sources.MOVIELENS, catalog.Datasets.MOVIES, as_string=True, 
                             storage=globals.Storage.DOCKER, suffix=".csv")
ratings_path = paths.get_path(paths.DATA_01EXTERNAL, catalog.Sources.MOVIELENS, catalog.Datasets.RATINGS, 
                              as_string=True,  suffix=".csv")
links_path = paths.get_path(paths.DATA_01EXTERNAL, catalog.Sources.MOVIELENS, catalog.Datasets.LINKS, as_string=True)
tags_path = paths.get_path(paths.DATA_01EXTERNAL, catalog.Sources.MOVIELENS, catalog.Datasets.TAGS, as_string=True)

'/data/01-external/movielens/ratings.csv'

In [41]:
ratings = spark.read.load(
    "/app/data/01-external/movielens/ratings.csv", format="csv", header=True, inferSchema=True
)

In [59]:
unique_codes = ratings[["userId"]].distinct()

train_codes, eval_codes = unique_codes.randomSplit([0.85, 0.15], seed=42)
evaltst_codes.show()
    
train_set = ratings.join(train_codes, on="userId")
eval_set = ratings.join(eval_codes, on="userId")

train_set[["userId"]].distinct().show(50)
eval_set[["userId"]].distinct().show(50)

+------+
|userId|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     8|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
|    20|
|    21|
|    22|
+------+
only showing top 20 rows

+------+
|userId|
+------+
|   148|
|   463|
|   471|
|   496|
|   243|
|   392|
|   540|
|    31|
|   516|
|    85|
|   137|
|   251|
|   580|
|    65|
|   458|
|    53|
|   255|
|   481|
|   588|
|   133|
|   296|
|   322|
|   513|
|   321|
|   362|
|   375|
|   108|
|   155|
|    34|
|   193|
|   211|
|   368|
|   530|
|   115|
|   126|
|    81|
|   385|
|    28|
|   183|
|   210|
|   596|
|   300|
|   406|
|   412|
|   587|
|    76|
|    26|
|    27|
|   332|
|   501|
+------+
only showing top 50 rows

+------+
|userId|
+------+
|   451|
|   472|
|    78|
|   593|
|   597|
|   101|
|   436|
|   497|
|   336|
|   417|
|   190|
|   225|
|   519|
|    47|
|   603|
|   259|
|    52|
|   297|
|   474|
|   205|
|   169|
|   582|
|   292|
|    48|
|   507|
|   117|
|   262|
|   269|
|   165|
|     9|
|   324|
|   505|
|   485|
|   537|
|   220|
|   241|
|   161|
|     7|
|   549|
|   130|
|   428|
|   448|
|    63|
|   589|
|    50|
|   518|
|   267|
|   293|
|   289|
|   427|
+------+
only showing top 50 rows

23/07/22 13:12:40 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-5e477995-3f30-406f-a10d-af47c985f215. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-5e477995-3f30-406f-a10d-af47c985f215
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:177)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:113)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:94)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1231)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:368)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:364)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:364)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:359)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2052)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$25(SparkContext.scala:2175)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1509)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2175)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2081)
	at org.apache.spark.SparkContext.$anonfun$new$31(SparkContext.scala:664)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:2088)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [9]:
movies = spark.read.load(
    str(movies_path), format="csv", header=True, inferSchema=True
)
ratings = spark.read.load(
    str(ratings_path), format="csv", header=True, inferSchema=True
)
links = spark.read.load(
    str(links_path), format="csv", header=True, inferSchema=True
)
tags = spark.read.load(
    str(tags_path), format="csv", header=True, inferSchema=True
)

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/usr/local/lib/python3.9/data/01-external/movielens/movies.

In [10]:
ratings.createOrReplaceTempView("ratings")
movies.createOrReplaceTempView("movies")

In [11]:
movies.show(1)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
+-------+----------------+--------------------+
only showing top 1 row

In [12]:
ratings.show(1)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    307|   3.5|1256677221|
+------+-------+------+----------+
only showing top 1 row

In [13]:
links.show(1)

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
+-------+------+------+
only showing top 1 row

In [14]:
tags.show(1)

+------+-------+----+----------+
|userId|movieId| tag| timestamp|
+------+-------+----+----------+
|    14|    110|epic|1443148538|
+------+-------+----+----------+
only showing top 1 row

### 2. EDA: Exploratory Data Analysis

#### 2.1 Aggregate and list ratings

In [15]:
ratings.groupBy("movieId").agg(collect_set("rating")).show(5, False)

+-------+--------------------------------------------------+
|movieId|collect_set(rating)                               |
+-------+--------------------------------------------------+
|1      |[2.0, 3.5, 5.0, 1.0, 4.5, 2.5, 4.0, 0.5, 3.0, 1.5]|
|3      |[2.0, 3.5, 5.0, 1.0, 4.5, 2.5, 4.0, 0.5, 3.0, 1.5]|
|5      |[2.0, 3.5, 5.0, 1.0, 4.5, 2.5, 4.0, 0.5, 3.0, 1.5]|
|6      |[2.0, 3.5, 5.0, 1.0, 4.5, 2.5, 4.0, 0.5, 3.0, 1.5]|
|12     |[2.0, 3.5, 5.0, 1.0, 4.5, 2.5, 4.0, 0.5, 3.0, 1.5]|
+-------+--------------------------------------------------+
only showing top 5 rows

In [16]:
ratings.select("rating").distinct().rdd.sortBy(lambda r: r[0]).collect()

[Row(rating=0.5),
 Row(rating=1.0),
 Row(rating=1.5),
 Row(rating=2.0),
 Row(rating=2.5),
 Row(rating=3.0),
 Row(rating=3.5),
 Row(rating=4.0),
 Row(rating=4.5),
 Row(rating=5.0)]

#### 2.2 Find the most popular movies

In [17]:
ratings.groupBy("movieId").count().join(
    movies,
    ratings.movieId == movies.movieId,
    "left",  # LEFT JOIN because I want get even the movies without titles (if exist any)
).drop(movies.movieId).select(
    "movieId", "title", col("count").alias("n_of_ratings")
).orderBy(
    col("n_of_ratings").desc()
).show(
    truncate=False
)

+-------+------------------------------------------------------------------------------+------------+
|movieId|title                                                                         |n_of_ratings|
+-------+------------------------------------------------------------------------------+------------+
|318    |Shawshank Redemption, The (1994)                                              |97999       |
|356    |Forrest Gump (1994)                                                           |97040       |
|296    |Pulp Fiction (1994)                                                           |92406       |
|593    |Silence of the Lambs, The (1991)                                              |87899       |
|2571   |Matrix, The (1999)                                                            |84545       |
|260    |Star Wars: Episode IV - A New Hope (1977)                                     |81815       |
|480    |Jurassic Park (1993)                                                          |76451       |
|527    |Schindler's List (1993)                                                       |71516       |
|110    |Braveheart (1995)                                                             |68803       |
|1      |Toy Story (1995)                                                              |68469       |
|1210   |Star Wars: Episode VI - Return of the Jedi (1983)                             |66023       |
|1196   |Star Wars: Episode V - The Empire Strikes Back (1980)                         |65822       |
|2959   |Fight Club (1999)                                                             |65678       |
|589    |Terminator 2: Judgment Day (1991)                                             |64258       |
|1198   |Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)|63505       |
|50     |Usual Suspects, The (1995)                                                    |62180       |
|4993   |Lord of the Rings: The Fellowship of the Ring, The (2001)                     |61883       |
|858    |Godfather, The (1972)                                                         |60904       |
|2858   |American Beauty (1999)                                                        |60820       |
|780    |Independence Day (a.k.a. ID4) (1996)                                          |58949       |
+-------+------------------------------------------------------------------------------+------------+
only showing top 20 rows

In [18]:
spark.sql(
    """
    SELECT 
        r.movieId,m.title,COUNT(r.movieId) AS n_of_ratings
    FROM
        ratings AS r
    LEFT JOIN 
        movies AS m
    WHERE
        r.movieId == m.movieId
    GROUP BY
        r.movieId,m.title
    ORDER BY
        n_of_ratings DESC
    """
).show(truncate=False)

+-------+------------------------------------------------------------------------------+------------+
|movieId|title                                                                         |n_of_ratings|
+-------+------------------------------------------------------------------------------+------------+
|318    |Shawshank Redemption, The (1994)                                              |97999       |
|356    |Forrest Gump (1994)                                                           |97040       |
|296    |Pulp Fiction (1994)                                                           |92406       |
|593    |Silence of the Lambs, The (1991)                                              |87899       |
|2571   |Matrix, The (1999)                                                            |84545       |
|260    |Star Wars: Episode IV - A New Hope (1977)                                     |81815       |
|480    |Jurassic Park (1993)                                                          |76451       |
|527    |Schindler's List (1993)                                                       |71516       |
|110    |Braveheart (1995)                                                             |68803       |
|1      |Toy Story (1995)                                                              |68469       |
|1210   |Star Wars: Episode VI - Return of the Jedi (1983)                             |66023       |
|1196   |Star Wars: Episode V - The Empire Strikes Back (1980)                         |65822       |
|2959   |Fight Club (1999)                                                             |65678       |
|589    |Terminator 2: Judgment Day (1991)                                             |64258       |
|1198   |Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)|63505       |
|50     |Usual Suspects, The (1995)                                                    |62180       |
|4993   |Lord of the Rings: The Fellowship of the Ring, The (2001)                     |61883       |
|858    |Godfather, The (1972)                                                         |60904       |
|2858   |American Beauty (1999)                                                        |60820       |
|780    |Independence Day (a.k.a. ID4) (1996)                                          |58949       |
+-------+------------------------------------------------------------------------------+------------+
only showing top 20 rows

#### 2.3 Find the highest rating movies

In [19]:
ratings.groupBy("movieId").agg(
    avg("rating").alias("avg_rating"), count("rating").alias("n_of_ratings")
).join(movies, ratings.movieId == movies.movieId, "left").drop(movies.movieId).select(
    "movieId",
    "title",
    "avg_rating",
    "n_of_ratings",
).orderBy(
    col("avg_rating").desc(), col("n_of_ratings").desc()
).show(
    truncate=False
)

+-------+-------------------------------------------------------+----------+------------+
|movieId|title                                                  |avg_rating|n_of_ratings|
+-------+-------------------------------------------------------+----------+------------+
|152711 |Who Killed Chea Vichea? (2010)                         |5.0       |2           |
|164771 |Love Finds You in Valentine (2016)                     |5.0       |2           |
|171821 |3-D Sex and Zen: Extreme Ecstasy (2011)                |5.0       |2           |
|140369 |War Arrow (1954)                                       |5.0       |2           |
|164787 |You Cast A Spell On Me (2015)                          |5.0       |2           |
|193527 |The Enclosed Valley (1995)                             |5.0       |2           |
|139547 |Placebo: Soulmates Never Die: Live in Paris 2003 (2004)|5.0       |2           |
|137593 |Hooligan (1998)                                        |5.0       |2           |
|143422 |2 (2007)                                               |5.0       |2           |
|193529 |Traces of Smoke (1992)                                 |5.0       |2           |
|166028 |What Remains of Us (2004)                              |5.0       |2           |
|179591 |A Royal Winter (2017)                                  |5.0       |2           |
|148298 |Awaken (2013)                                          |5.0       |2           |
|182435 |The Most Wonderful Time of the Year (2008)             |5.0       |2           |
|151569 |The Old Fairy Tale: When the Sun Was God (2003)        |5.0       |2           |
|179559 |The Memory Book (2014)                                 |5.0       |2           |
|177581 |North of the Sun (2012)                                |5.0       |2           |
|133297 |Genius on Hold (2013)                                  |5.0       |2           |
|179589 |Windstorm 2 (2015)                                     |5.0       |2           |
|188503 |The Diary of a Big Man (1988)                          |5.0       |2           |
+-------+-------------------------------------------------------+----------+------------+
only showing top 20 rows

#### 2.4 Find the most active users

In [20]:
ratings.groupBy("userId").count().select(
    "userId", col("count").alias("n_of_ratings")
).orderBy(col("n_of_ratings").desc()).show(5)

+------+------------+
|userId|n_of_ratings|
+------+------------+
|123100|       23715|
|117490|        9279|
|134596|        8381|
|212343|        7884|
|242683|        7515|
+------+------------+
only showing top 5 rows

#### 2.5 Top rated movies by genre

In [21]:
@udf(returnType=ArrayType(StringType()))
def split_pipe(x):
    return x.split("|")

In [22]:
# Display genres
df = (
    movies.select(
        explode(split_pipe("genres")).alias("genres"),
    )
    .distinct()
    .show()
)

+------------------+
|            genres|
+------------------+
|             Crime|
|           Romance|
|          Thriller|
|         Adventure|
|             Drama|
|               War|
|       Documentary|
|           Fantasy|
|           Mystery|
|           Musical|
|         Animation|
|         Film-Noir|
|(no genres listed)|
|              IMAX|
|            Horror|
|           Western|
|            Comedy|
|          Children|
|            Action|
|            Sci-Fi|
+------------------+

In [23]:
genre_to_compare = "Film-Noir"


def genre_top_rated_movies(udf_flag: bool = False) -> Tuple[DataFrame, float]:
    s = time.perf_counter()
    df = (
        movies.select(
            movies.colRegex("`^(?!genres).*$`"),  # do not select genres column
            explode(
                split(col("genres"), "\\|") if not udf_flag else split_pipe("genres")
            ).alias("genre"),
        )
        .filter(col("genre") == genre_to_compare)
        .join(ratings, movies.movieId == ratings.movieId, "inner")
        .drop(ratings.movieId)
        .groupBy("movieId", "title", "genre")
        .agg(avg("rating").alias("avg_rating"), count("rating").alias("n_of_ratings"))
        .coalesce(3)  # maybe we do not need many partitions...
        .orderBy(col("avg_rating").desc(), col("n_of_ratings").desc())
        .take(10)
    )
    t = time.perf_counter() - s
    return df, t


spark_take, spark_time = genre_top_rated_movies(udf_flag=False)
udf_take, udf_time = genre_top_rated_movies(udf_flag=True)

print(f"Time taken with an User Defined Function: {udf_time:.4f}s")
print(f"Time taken with native Spark functions: {spark_time:.4f}s")

udf_take

Time taken with an User Defined Function: 8.6007s
Time taken with native Spark functions: 9.0201s

[Row(movieId=1212, title='Third Man, The (1949)', genre='Film-Noir', avg_rating=4.20375939849624, n_of_ratings=7980),
 Row(movieId=3435, title='Double Indemnity (1944)', genre='Film-Noir', avg_rating=4.199261675824176, n_of_ratings=5824),
 Row(movieId=922, title='Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)', genre='Film-Noir', avg_rating=4.195425943852856, n_of_ratings=8264),
 Row(movieId=930, title='Notorious (1946)', genre='Film-Noir', avg_rating=4.163581345674618, n_of_ratings=5618),
 Row(movieId=1260, title='M (1931)', genre='Film-Noir', avg_rating=4.161491297468355, n_of_ratings=5056),
 Row(movieId=1284, title='Big Sleep, The (1946)', genre='Film-Noir', avg_rating=4.159891808346213, n_of_ratings=6470),
 Row(movieId=1252, title='Chinatown (1974)', genre='Film-Noir', avg_rating=4.1524313561098305, n_of_ratings=19084),
 Row(movieId=1248, title='Touch of Evil (1958)', genre='Film-Noir', avg_rating=4.15122820176261, n_of_ratings=5333),
 Row(movieId=913, title='Maltese Falcon, The (1941)', genre='Film-Noir', avg_rating=4.132430579362358, n_of_ratings=14585),
 Row(movieId=7926, title='High and Low (Tengoku to jigoku) (1963)', genre='Film-Noir', avg_rating=4.125615763546798, n_of_ratings=812)]

#### 2.6 Min ratings per user and min ratings per movie

In [24]:
ratings.groupBy("userId").count().agg(min("count").alias("min")).show()

ratings.groupBy("movieId").count().agg(min("count").alias("min")).show()

+---+
|min|
+---+
|  1|
+---+

+---+
|min|
+---+
|  1|
+---+

#### 2.7 Movies that were rated only by one user

In [25]:
n_1_rating_movies = ratings.groupBy("movieId").count().filter(col("count") == 1).count()
n_all_movies = ratings.select("movieId").distinct().count()

perc_1_rating = (n_1_rating_movies / n_all_movies) * 100

print(f"{perc_1_rating:.2f}% of the movies have only 1 rating")

18.84% of the movies have only 1 rating

#### 2.8 Total Number of users in the datasets

In [26]:
ratings.select("userID").distinct().count()

283228

#### 2.9 Total number of movies in the datasets

In [27]:
movies.select("movieID").distinct().count()

58098

#### 2.10 Movies that are not yet rated

In [28]:
movies.join(ratings, movies.movieId == ratings.movieId, "left_anti").select(
    "movieId"
).distinct().count()

# OR

movies.select("movieId").subtract(
    ratings.select("movieId")
).count()  # subtract is the same as EXCEPT DISTINCT in SQL...

4209

#### 2.11 Number of Movies for each category

In [29]:
movies.select("movieID", explode(split_pipe("genres")).alias("genres")).groupby(
    "genres"
).count().sort(col("count").desc()).show()

+------------------+-----+
|            genres|count|
+------------------+-----+
|             Drama|24144|
|            Comedy|15956|
|          Thriller| 8216|
|           Romance| 7412|
|            Action| 7130|
|            Horror| 5555|
|       Documentary| 5118|
|             Crime| 5105|
|(no genres listed)| 4266|
|         Adventure| 4067|
|            Sci-Fi| 3444|
|           Mystery| 2773|
|          Children| 2749|
|         Animation| 2663|
|           Fantasy| 2637|
|               War| 1820|
|           Western| 1378|
|           Musical| 1113|
|         Film-Noir|  364|
|              IMAX|  197|
+------------------+-----+